<h2 align = center> ETL </h2>

oEn esta sección del proyecto se extraerán de los conjuntos de datos de los archivos Excel. Los datos serán convertidas en dataframes de pandas. Posteriormente, se procederá a normalizar los nombres de las columnas en ambos dataframes, eliminar aquellas columnas que no se consideraron relevantes para el análisis y realizar una revisión en busca de valores nulos, errores tipográficos e imputación de valores faltantes, en caso de ser necesario.

#### Importamos las librerías a utilizar

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import Tools as t
from datetime import datetime
from summarytools import dfSummary
import Tools as t
import warnings
warnings.filterwarnings('ignore')

#### Se extraen los datos a dataframes de pandas

In [52]:
df_poblacion_2014 = pd.read_csv('data/Poblacion_Arg_2016.csv')
df_poblacion_2014.head()

,Proyecciones de población por grupo de edad y comuna según sexo. Ciudad de Buenos Aires. 1 de julio de 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grupo de edad (años),Total,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
2,Total,"3,059,122","252,053","149,848","192,573","238,303","186,740","184,611","240,116","225,737","170,353","170,163","189,956","213,576","235,819","226,884","182,390"
3,0-4,"209,174","17,048","7,165","12,117","19,896","11,185","11,343","18,397","23,363","12,472","11,179","11,701","14,293","14,579","12,828","11,608"
4,5-9,"204,345","15,359","6,795","11,715","19,905","11,146","10,866","18,086","22,472","13,060","11,788","12,767","13,704","13,379","11,538","11,765"

In [53]:
df_homicidios = pd.read_excel('data/homicidios.xlsx', sheet_name='HECHOS')
df_homicidios.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [54]:
df_victimas = pd.read_excel('data/homicidios.xlsx', sheet_name='VICTIMAS')
df_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

Normalizamos los nombres de las columnas de ambos dataframes, para hacer más sencillo el manejo de los datos

In [55]:
df_homicidios.columns = ['idSiniestro','NumVictimas','Fecha','Anio','Mes','Dia','Hora','H','LugarHecho','TipoDeCalle','Calle','Altura','Cruce','DireccionNormalizada','Comuna','XYplana','PosX','PosY','Participantes','Victima','Acusado']
df_homicidios.head()

,idSiniestro,NumVictimas,Fecha,Anio,Mes,Dia,Hora,H,LugarHecho,TipoDeCalle,...,Altura,Cruce,DireccionNormalizada,Comuna,XYplana,PosX,PosY,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [56]:
df_victimas.columns = ['idSiniestro','Fecha','Anio','Mes','Dia','Rol','Victima','Sexo','Edad','FechaFallecimiento']
df_victimas.head()

,idSiniestro,Fecha,Anio,Mes,Dia,Rol,Victima,Sexo,Edad,FechaFallecimiento
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

#### Comenzamos revisando el dataframe homicidios

In [57]:
df_homicidios.describe()

,NumVictimas,Fecha,Anio,Mes,Dia,Altura,Comuna
count,696.000000,696,696.000000,696.000000,696.000000,129.000000,696.000000
mean,1.030172,2018-09-14 05:12:24.827586048,2018.188218,6.692529,15.936782,3336.635659,7.425287
min,1.000000,2016-01-01 00:00:00,2016.000000,1.000000,1.000000,30.000000,0.000000
25%,1.000000,2017-04-02 12:00:00,2017.000000,4.000000,9.000000,1359.000000,4.000000
50%,1.000000,2018-07-12 12:00:00,2018.000000,7.000000,16.000000,2551.000000,8.000000
75%,1.000000,2020-01-04 06:00:00,2020.000000,10.000000,23.000000,4500.000000,11.000000
max,3.000000,2021-12-30 00:00:00,2021.000000,12.000000,31.000000,16080.000000,15.000000
std,0.179393,NaN,1.683754,3.571309,8.639646,3060.641793,4.387050

En promedio hay más accidentes con fallecimiento:
* A las 5 am
* En el año 2018 se tuvieron en promedio tiene más muertes por accidentes viales
* El mes de Junio en promedio tiene más muertes por accidentes viales
* Los días 15 en promedio tienen más muertes por accidentes viales
* En la comuna 7 en promedio tiene más muertes por accidentes viales

Se añade una columna con los días de la semana al Dataframe

In [58]:
df_homicidios['DiaSemana'] = df_homicidios['Fecha'].dt.day_name()
df_homicidios.head(2)

,idSiniestro,NumVictimas,Fecha,Anio,Mes,Dia,Hora,H,LugarHecho,TipoDeCalle,...,Cruce,DireccionNormalizada,Comuna,XYplana,PosX,PosY,Participantes,Victima,Acusado,DiaSemana
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Friday
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Saturday

Los días quedaron en inglés, por lo que los cambiaremos a español

In [59]:
english_to_spanish = {
    'Monday': 'Lunes',
    'Tuesday': 'Martes',
    'Wednesday': 'Miércoles',
    'Thursday': 'Jueves',
    'Friday': 'Viernes',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

df_homicidios['DiaSemana'] = df_homicidios['DiaSemana'].map(english_to_spanish)

 Modificamos tambien la columna de Mes, para que nos devuelva el nombre del mes.

In [60]:
meses = {
    1: 'Enero',
    2: 'Febrero',
    3: 'Marzo',
    4: 'Abril',
    5: 'Mayo',
    6: 'Junio',
    7: 'Julio',
    8: 'Agosto',
    9: 'Septiembre',
    10: 'Octubre',
    11: 'Noviembre',
    12: 'Diciembre'

}

df_homicidios['Mes'] = df_homicidios['Mes'].map(meses)

Se revisa el tipo de datos que hay en cada columna

In [61]:
t.DataType(df_homicidios)

                          TipoDeDato
idSiniestro                   object
NumVictimas                    int64
Fecha                 datetime64[ns]
Anio                           int64
Mes                           object
Dia                            int64
Hora                          object
H                             object
LugarHecho                    object
TipoDeCalle                   object
Calle                         object
Altura                       float64
Cruce                         object
DireccionNormalizada          object
Comuna                         int64
XYplana                       object
PosX                          object
PosY                          object
Participantes                 object
Victima                       object
Acusado                       object
DiaSemana                     object

Se procede a buscar valores nulos

In [62]:
nulos = t.PorcentajeNulos(df_homicidios)
nulos

,Data_Types,%_Null,Qty_Null,Qty_No_Null,Total_Registros
idSiniestro,object,0.00,0,696,696
NumVictimas,int64,0.00,0,696,696
Fecha,datetime64[ns],0.00,0,696,696
Anio,int64,0.00,0,696,696
Mes,object,0.00,0,696,696
Dia,int64,0.00,0,696,696
Hora,object,0.00,0,696,696
H,object,0.00,0,696,696
LugarHecho,object,0.00,0,696,696
TipoDeCalle,object,0.00,0,696,696
Calle,object,0.14,1,695,696
Altura,float64,81.47,567,129,696
Cruce,object,24.57,171,525,696
DireccionNormalizada,object,1.15,8,688,696
Comuna,int64,0.00,0,696,696
XYplana,object,0.00,0,696,696
PosX,object,0.00,0,696,696
PosY,object,0.00,0,696,696
Participantes,object,0.00,0,696,696
Victima,object,0.00,0,696,696
Acusado,object,0.00,0,696,696
DiaSemana,object,0.00,0,696,696

Parece que sólo se observa un ~81% de nulos en la columna de altura, pero por el momento no se tomará acción alguna, hasta más adelante que podamos revisarla más a fondo.

Aparentemente que quedan muy pocos nulos en el marco de datos, pero seguiremos analizando porque es posible que no haya nulos pero sí registros sin valores.

En el dataframe hay una columna 'Anio', 'Mes', 'Dia' & 'H', también hay una columna con fecha y hora completa. Para facilitar el análisis, estas dos últimas columnas se eliminarán porque esta información está duplicada.

In [63]:
columnas = ['Fecha', 'Hora']
df_homicidios = df_homicidios.drop(columnas, axis=1)

Anio

In [64]:
df_homicidios['Anio'].value_counts()

Anio
2016    144
2018    143
2017    131
2019    103
2021     97
2020     78
Name: count, dtype: int64

Columna mes, no se observa problemas

In [65]:
df_homicidios['Mes'].value_counts()

Mes
Diciembre     78
Noviembre     67
Agosto        65
Enero         62
Mayo          60
Junio         58
Febrero       56
Marzo         51
Julio         51
Octubre       51
Abril         50
Septiembre    47
Name: count, dtype: int64

Columna día, no se observa problemas

In [66]:
df_homicidios['Dia'].unique()

array([ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23,
       30, 31, 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6],
      dtype=int64)

Columna H, tiene un valor 'SD', más adelante se modificarán dichos datos

In [67]:
df_homicidios['H'].unique()

array([4, 1, 7, 0, 5, 18, 19, 15, 11, 22, 16, 9, 23, 6, 10, 17, 12, 8, 20,
       21, 14, 3, 2, 13, 'SD'], dtype=object)

Columna LugarHecho

In [68]:
df_homicidios['LugarHecho'].unique()

array(['AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ',
       'AV GRAL PAZ  Y AV DE LOS CORRALES', 'AV ENTRE RIOS 2034',
       'AV LARRAZABAL Y GRAL VILLEGAS CONRADO',
       'AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA ',
       'AV 27 DE FEBRERO Y AV ESCALADA', 'NOGOYA Y JOAQUIN V. GONZALES',
       'AV GENERAL PAZ Y AV DE LOS CORRALES',
       'AV BELGRANO Y BERNARDO DE IRIGOYEN', 'AV ENTRE RIOS 1366',
       'AV SCALABRINI ORTIZ Y VERA',
       'AV REGIMIENTO DE PATRICIOS Y QUINQUELA MARTIN BENITO',
       'MARIANO ACOSTA Y ANA MARIA JANER',
       'LISANDRO DE LA TORRE Y SEVERO GARCIA GRANDE DE ZEQUEIRA ',
       'SUIPACHA 156', 'AV DIRECTORIO Y CURAPALIGUE',
       'AV 9 DE JULIO Y ADOLFO ALSINA', 'AV GRAL PAZ Y AV 27 DE FEBRERO',
       'HOLMBERG Y VEDIA', 'CURAPALIGUE Y AVELINO DIAZ',
       'VIAMONTE Y AV 9 DE JULIO', 'AV CABILDO Y DEHEZA',
       'AV GRAL PAZ Y AV CNEL ROCA', 'AV AMANCIO ALCORTA Y BONAVENA',
       'AV CORRIENTES Y AV CALLAO', 'HERRERA Y ARISTOBULO DEL VALLE',
       'AV. EVA PERON Y QUIRNO', 'AV GRAL PAZ COLECTORA Y ZUVIRIA',
       'BARTOLOME MITRE Y AV PUEYRREDON',
       'AV DIRECTORIO Y RIVERA INDARTE',
       'DELLEPIANE LUIS TTE GRAL COLECTORA Y MURGUIONDO',
       'AV JOSE MARIA MORENO Y BALBASTRO',
       'AV GRAL PAZ Y AV DEL LIBERTADOR', 'LIMA 1483',
       'AV. CORRIENTES Y AV. DORREGO',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM. 0,700',
       'TIMOTEO GORDILLO Y AV FERNANDEZ DE LA CRUZ',
       'AUTOPISTA LUGONES PK 10000', 'AV TRIUNVIRATO Y AV OLAZABAL',
       'AU LUIS DELLEPIANE Y AV GRAL PAZ',
       'RAMON CASTILLA Y AV FIGUEROA ALCORTA', 'AV LUIS MARIA CAMPOS 30',
       'LIMA 1471', 'PASAJE CIUDADELA Y LIMA OESTE',
       'AV JUAN B JUSTO Y AV CARRASCO', 'AV GAONA Y ESPINOSA',
       'AV LISANDRO DE LA TORRE Y SARAZA',
       'AV FIGUEROA ALCORTA Y AV PUEYRREDON',
       'AV ENTRE RIOS Y PASAJE FILIBERTO', 'MAGARIÑOS CERVANTES 3900',
       'AV GRAL PAZ Y RODOLFO SCAPINO',
       'AUTOPISTA DELLEPIANE LUIS TTE GRAL Y MIRALLA',
       'AV SAN MARTIN Y CAMARONES',
       'TTEG JUAN D PERON Y AVDA LEANDRO N ALEM',
       'AV BELGRANO Y AV JUJUY',
       'AV DEL LIBERTADOR Y AV GUILLERMO UDAONDO',
       'AV GRAL PAZ Y AV RIVADAVIA', 'AV CRISOLOGO LARRALDE Y MACHAIN',
       'AV LA PLATA 2384', 'AV JUAN B ALBERDI Y PUAN',
       'CARLOS PELLEGRINI Y TUCUMAN',
       'AVDA ITE FRANCISCO RABANAL & AVDA EREZCANO',
       'AV OLIVERA Y RAMON FALCON',
       'AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS',
       'CERETTI Y NUÑEZ', 'AV LUGONES Y LA PAMPA',
       'JERONIMO SALGUERO Y AV RIVADAVIA', 'AV GRAL PAZ Y AV LIBERTADOR ',
       'AV JUAN B ALBERDI Y EMILIO MITRE', 'MERCEDES Y AV GRAL MOSCONI',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3', 'SOLIS Y MEXICO',
       'AV SAN JUAN Y ALBERTI', 'AV GRAL MOSCONI Y AV GRAL PAZ',
       'AV GRAL PAZ  Y DONADO', 'AV GRAL PAZ Y JORGE CHAVEZ',
       'AV EVA PERON Y JOSE LEON SUAREZ',
       'ZINNY Y AV SANTIAGO DE COMPOSTELA', 'AV FEDERICO LACROZE Y FRAGA',
       'CARLOS PELLEGRINI Y AV DEL LIBERTADOR',
       'AUTOPISTA 9 DE JULIO SUR ALT AV MENDOZA',
       'AUTOPISTA PERITO MORENO Y BARRAGAN', 'AV ALBERDI Y CARHUE',
       'AUTOPISTA LEOPOLDO LUGONES Y LA PAMPA',
       'AUTOPISTA 25 DE MAYO AUTOPISTA 1 SUR ARTURO FRONDIZI',
       'AV JUAN BAUTISTA ALBERDI Y GUARDIA NACIONAL', 'SALGUERO 1410',
       'ARIAS Y TRONADOR', 'AV DEL LIBERTADOR Y TAGLE',
       'AUTOPISTA 1 SUR PTE ARTURO FRONDIZI KM 2.9',
       'CRISOLOGO LARRALDE Y AVDA TRIUNVIRATO', 'AV EVA PERON 4233',
       'AV ASAMBLEA Y AV CNEL ESTEBAN BONORINO',
       'AVDA RIVADAVIA Y RIVERA INDARTE',
       'AUTOPISTA PERITO MORENO Y AV JUAN B ALBERDI',
       'IRIGOYEN Y TINOGASTA', 'AV MARIANO ACOSTA Y AV CNEL ROCA',
       'CASTRO Y AV PAVON', 'AUTOPISTA 9 DE JULIO SUR Y AV BRASIL',
       'MIRAVE 3500', 'AV SAN JUAN Y 24 DE NOVIEMBRE',
       'AV LAS HERAS Y SANCHEZ DE BUSTAMANTE',
       'AV PIEDRA BUENA Y 2 DE ABRIL 1982',
       'AV FIGUEROA ALCORTA  Y PINEDO',
       'AU BUENOS AIRES - LA PLATA KM. 4', 'AV SAN MARTIN Y LADINES',
       'AV CABILDO Y BLANCO ENCALADA',
       'AV PRESIDENTE FIGUEROA ALCORTA Y AV DORREGO',
       'AV JURAMENTO Y VUELTA DE OBLIGADO',
       'AV DEL LIBERTADOR Y AV RAMOS MEJIA', 'AV. ALTE. BROWN 984',
       'AV DEL LIBERTADOR Y LA PAMPA', 'PICHINCHA Y AV BRASIL',
       'AV INDEPENDENCIA Y VIRREY CEVALLOS', 'AV GARMENDIA 4895',
       'AV AMANCIO ALCORTA Y DIOGENES TABORDA', 'SD',
       'AV PERITO MORENO Y ZUVIRIA', 'ARAOZ Y AV CORDOBA',
       'AV GRAL PAZ 15200', 'MADERO 900', 'AV INDEPENDENCIA Y DEAN FUNES',
       'AV JUAN B JUSTO 5645', 'AUTOPISTA PERITO MORENO ALTURA VELZ',
       'AV SANTA FE Y GODOY CRUZ', 'AV FEDERICO LACROZE Y AV FOREST',
       'AV GRAL PAZ Y AV GENERAL MOSCONI',
       'AV LA PLATA Y CNEL GREGORIO POMAR', 'AV MARTIN GARCIA 300',
       'NUÑEZ Y AV RICARDO BALBIN', 'AV GRAL PAZ 4500',
       'AU BUENOS AIRES - LA PLATA Y AU 25 DE MAYO', 'AV GARAY Y CASTRO',
       'AV DIRECTORIO Y AV SAN PEDRITO', 'AUTOPISTA 25 DE MAYO',
       'CNEL RAMON L FALCON Y MEMBRILLAR', 'AV BELGRANO Y AV PASEO COLON',
       'ARENALES 3319', 'REPUBLICA BOLIVARIANA DE VENEZUELA Y SAAVEDRA',
       'AV. JUAN B JUSTO Y ACHUPALLAS', 'OLAVARRIA Y AV. VELEZ SARSFIELD',
       'LIMA Y MEXICO', 'JOSE A CABRERA Y BONPLAND',
       'AU 25 DE MAYO Y AV. BOEDO', 'AV. DIRECTORIO Y RIGLOS',
       'AV. GRAL. PAZ Y AV. R. BALBIN', 'TRAFUL Y DIOGENES TABORDA',
       'IRIARTE 3055', 'AV. DONADO Y ARIAS', 'CORDOBA AV. Y CALLAO',
       'AU 25 DE MAYO, KILOMETRO 8.3, SENTIDO HACIA PROVINCIA DE BUENOS AIRES, C.A.B.A.',
       'AV. JUAN B JUSTO Y PARAGUAY',
       'AV. GRAL. PAZ Y AV. DE LOS CORRALES', 'SARMIENTO Y LIBERTAD',
       'AV. RIVADAVIA 7121', 'AV. FERNANDEZ DE LA CRUZ Y RIVERA INDARTE',
       'AV. PERITO MORENO Y FOURNIER', 'AV. CASEROS 1429',
       'AV. GAONA Y FRAGATA SARMIENTO', 'MOZART Y TANDIL',
       'MOZART Y COLECTORA AV. TTE. LUIS J DELLEPIANE',
       '24 DE NOVIEMBRE Y PAVON ', 'AV. GRAL. PAZ Y PEDRO DE MENDOZA',
       'AV. GRAL. PAZ KM. 10', 'GODOY CRUZ 2651',
       'AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUCENA VILLAFLOR',
       'CURUPAYTI Y COLECTORA AV. GRAL. PAZ',
       'AV. INDEPENDENCIA Y VIRREY CEVALLOS', 'AV. CASTAÑARES Y LAUTARO',
       'CAMINO CIUDAD UNUVERSITARIA Y AV. TTE. GUIRALDES',
       'BALDOMERO FERNANDEZ MORENO 2186', 'AV. LEOPOLDO LUGONES PKM 6900',
       'NOGOYA 5940', 'AV. ARGENTINA Y AV. CORVALAN',
       'AV. FERNANDEZ DE LA CRUZ Y VARELA',
       'AU PERITO MORENO Y RAMAL ENLACE AU1/AU6', 'AU DELLEPIANE 2400',
       'AV. GRAL. PAZ Y GOLETA JULIA', 'VIEYTES Y VILLARINO',
       'AV. DE LOS CONSTITUYENTES Y PEDRO MORAN',
       'AV. DE LOS CONSTITUYENTES 4900', 'AV. CORDOBA Y LIBERTAD',
       'BRASIL Y LIMA', 'AV. ESCALADA Y AV. FERNANDEZ DE LA CRUZ',
       'PARAGUAY Y AV. CALLAO ', 'AV. JUAN B JUSTO Y SAN BLAS',
       'CHILE Y AV. 9 DE JULIO', 'MAIPU Y PERON', 'AV. SUAREZ Y HERRERA',
       'AV. SAN MARTIN Y FRAGATA SARMIENTO',
       'AV. DIRECTORIO Y AV. JOSE MARIA MORENO',
       'AV. TTE. FRANCISCO RABANAL 2950',
       'AV. GRAL. PAZ Y ULRICO SCHMIDL', 'NUEVA YORK  3696',
       'AV. DE LOS CONSTITUYENTES Y VALLEJOS', 'AV. CORRIENTES Y ECUADOR',
       'CASCO 133', 'AV. DE MAYO Y AV. 9 DE JULIO',
       'AV. RAMON CASTILLO Y CALLE 12',
       'FRAY JUSTO SANTAMARIA DE ORO 1930', 'MEXICO Y DEAN FUNES',
       'AV. JUAN B ALBERDI Y AV. ESCALADA', 'AV. ENTRE RIOS Y AV. BRASIL',
       'AV. JUAN B ALBERDI Y GUARDIA NACIONAL',
       'AV. DEL LIBERTADOR Y RODRIGUEZ PEÑA',
       'TACUARI Y AV. MARTIN GARCIA', 'AV. RIVADAVIA Y MURGUIONDO',
       '24 DE NOVIEMBRE 390', 'AV. PASEO COLON Y BRASIL',
       'MARTINIANO LEGUIZAMON 901',
       'AV. CHIVILCOY Y COLECTORA AV. GRAL. PAZ ',
       'SUPERI Y AV. GRAL. PAZ',
       'AU 25 DE MAYO Y AU FRONDIZI (9 DE JULIO SUR)',
       'AV. LEOPOLDO LUGONES KM 7,5, ALTURA PUENTE SCALABRINI ORTIZ, SENTIDO A CENTRO PORTEÑO',
       'VICTOR HUGO 2639', 'AV. CORDOBA Y JERONIMO SALGUERO',
       'AV. CABILDO Y NUÑEZ', 'JOSE BONIFACIO 2114',
       'AV. PTE FIGUEROA ALCORTA 5400', 'VENEZUELA 2135',
       'AV. FCO. LACROZE Y ZAPATA', 'IRIARTE Y ZAVALETA',
       'AV. 9 DE JULIO Y ESTADOS UNIDOS',
       'FRAY JUSTO SANTAMARIA DE ORO Y GUEMES',
       'AV. DEL LIBERTADOR Y JARAMILLO', 'AV. GRAL. PAZ Y MACHAIN',
       'AV. DIRECTORIO Y PORTELA', 'LAVALLE Y AV. LEANDRO N ALEM',
       'USPALLATA Y PIROVANO', 'AU 25 DE MAYO Y AV. VARELA',
       'AV. SANTA FE Y MAIPU', 'AV. ALVEAR Y AV. DEL LIBERTADOR',
       'AV. PAVON Y TREINTA Y TRES ORIENTALES',
       'COLECTORA AV. GRAL. PAZ 5750', 'VIEYTES Y CRUZ',
       'AU DELLEPIANE Y AV. ESCALADA', 'ALBARIÑO Y AV. ARGENTINA',
       'JUAN RAMIREZ DE VELAZCO 1211',
       'AV. FERNANDEZ DE LA CRUZ Y LARRAYA',
       'AV. RIESTRA Y CAÑADA DE GOMEZ', 'GALLO Y AV. CORDOBA',
       'DR. JUAN F. ARANGUREN 611', 'AU PERITO MORENO Y AU 25 DE MAYO',
       'CHORROARIN Y AV. SAN MARTIN', 'COSQUIN Y AV. CNEL. ROCA',
       'AV. CNEL. ROCA 3555', 'AV. WARNES Y PUNTA ARENAS',
       'DEL BARCO CENTENERA Y RABANAL',
       'AV. GRAL. ENRIQUE MOSCONI Y SAN NICOLAS',
       'AV. LAFUENTE Y AV. EVA PERON', 'AV. CNEL. ROCA Y AV. ESCALADA',
       'AU ARTURO FRONDIZI PKM 3100', 'AV. LA PLATA Y AV. PEDRO GOYENA',
       'TRELLES Y GRAL. CESAR DIAZ',
       'AV. CNEL. ROCA Y COLECTORA AV. GRAL. PAZ', 'MAZA Y DON BOSCO',
       'AV. GRAL. PAZ Y AV. EVA PERON', 'AV. SAN JUAN Y LA RIOJA',
       'AV. PASEO COLON Y MEXICO', 'AV. RIVADAVIA Y MIRALLA',
       'VIEYTES Y LUJAN', 'CACHI Y TRAFUL', 'ROSARIO Y AV. LA PLATA',
       'AV. ENTRE RIOS Y AV. CASEROS ', 'AV. RIVADAVIA 6350',
       'AV. GRAL. PAZ Y HUMAITA', 'GUALEGUAYCHU Y COLECTORA AV. GRAL PAZ',
       'AV. NAZCA 365', 'AV. EVA PERON 5249', 'San Juan Av. Y Rincón',
       'Peru 937', 'Pueyrredon, Honorio, Dr. Av. y Galicia',
       'Del Libertador Av. y Manzanares', 'Paseo Colon Av. 1019',
       'Valle y Barco Centenera Del', 'AU Perito Moreno  KM 0.6',
       'Huergo, Ing. Av. e Independencia Av.',
       'Pilcomayo y Brown, Alte. Av.',
       'Cervantes y Belaustegui, Luis, Dr.', 'Callao y Vte. Lopez',
       'Oliden y Chilavert, Martiniano, Coronel', 'Congreso Av. y Galvan',
       'Moreno, Perito Av. y Rivera Indarte', 'Australia Av. 2800',
       'Del Libertador Av. y Ramos Mejia, Jose Maria, Dr. Av.',
       'San Pedrito Av. y Rivadavia Av.',
       'Isabel La Catolica y Salvadores, Cnel.',
       'Las Heras General Av. y Callao Av.',
       'Fernandez de la Cruz Subida AU Héctor J. Cámpora',
       'AMANCIO ALCORTA Y ZAVALETA', 'Montes De Oca, Manuel y Olavarria',
       'Barco Centenera Del y Rosario', 'Alvarez Thomas Av. y Donado',
       'Av. Avellaneda y Av. Boyacá',
       'Rabanal, Francisco, Intendente Av. y Saenz Av.',
       'Castro y Rondeau', 'Bilbao, Francisco Av. y Azul',
       'Nazca Av. y Gaona Av.', 'Plaza y Alvarez Thomas Av.',
       'Gaona Av. y Artigas, Jose Gervasio, Gral.',
       'Cabildo Av. y Aguilar', 'Camarones y Lope De Vega Av.',
       'Santa Fe Av. 2320', 'Av. Rivadavia 6950',
       'Av. San Martín y Argerich',
       'Cordoba Av. y Uriburu Jose E., Pres.', 'AV. RIVADAVIA 1571',
       'AUTOPISTA LUGONES KM 4.7',
       'Ramon Freire y Virrey Olaguer y Feliu',
       'La Plata Av. y Fernandez De La Cruz, F., Gral. Av.',
       'BRANDSEN y PERDRIEL', 'Vilardebo, Teodoro y Alvarez Jonte Av.',
       'Alberti e Independencia Av.', 'Alvarez Thomas Av. 879',
       'Av. Gral. Paz y Av. Rivadavia', 'Av. Corrientes y Av. Dorrego',
       'Rivadavia Av. y Pedernera', 'Quesada 2300',
       'Cabildo Av. y Juramento Av.',
       'California y Carbonari, Francisco, Cmte.',
       'Carril, Salvador Maria Del Av. y Nazca', 'San Luis y Aguero',
       'Lugones 2430', 'Independencia Av. y Jujuy Av.',
       'Av. Rivadavia 11050', 'Combate De Los Pozos y Humberto 1°',
       'Cordoba Av. y Thames', 'Garay, Juan De Av. y Sanchez De Loria',
       'Lavalle y Alem, Leandro N. Av.', 'Estados Unidos y Pichincha',
       'Rosario y Barco Centenera Del', 'Av. Leandro N. Alem y Viamonte',
       'Varela Av. y Primera Junta', 'Pellegrini, Carlos y Juncal',
       'Av. Corrientes y Av. Federico Lacroze',
       'Montes De Oca, Manuel y Finochietto Enrique Dr.',
       'Carabobo Av. y Alberdi, Juan Bautista Av.',
       'Córdoba Av. 2215\n\n', 'Estados Unidos y Urquiza, Gral.',
       'Moreno y Av. Huergo',
       'AU Dellepiane kilometro 0.0, altura calle Montiel, sentido hacia el Centro Porteño',
       'Iriarte, Gral. Av. 3400', 'AV. JUAN B. ALBERDI 2968',
       'Del Libertador Av. y Ortiz De Ocampo',
       'Chavez, Jorge y Paz, Gral. Av.',
       'Urquiza, Gral. y Estados Unidos',
       'Paraguay y Sánchez De Bustamante',
       'De Los Corrales Av. y Paz, Gral. Av.',
       'Alberdi, Juan Bautista Av. y Carhue',
       'Castañares Av. y Rivera Indarte Av.',
       'Larrazabal y Garzon, Eugenio, Gral. Av.',
       'Paz, Gral. Av. y Fernandez De La Cruz, F., Gral. Av.',
       'Av. Alicia Moreau de Justo y Cochabamba',
       'Entre Rios Av. y Garay, Juan De Av.',
       'Directorio Av. y Guardia Nacional', 'Pavon Av. Y Colombres',
       'Av. Gral. Paz y Av. Dr. Ricardo Balbín', 'Pichincha Av. y Brasil',
       '27 De Febrero Av. y Pergamino',
       'AU Perito Moreno KM 1.8 ALTURA BARRAGAN SENTIDO PBA',
       'Cordoba Av. y Gascon', '15 De Noviembre De 1889 1513',
       'Salguero, Jeronimo y Beruti',
       'Lacarra Av. y Dellepiane, Luis, Tte. Gral.',
       'AU Héctor J. Cámpora y Roca, Cnel. Av.',
       'Av. Varela y Av. Int. Francisco Rabanal',
       'Av. Gral. Paz e/ Ferre y Beron de Astrada',
       'Elvira Rawson de Dellepiane 150', 'Paz, Gral. Av. y Zapiola',
       'FAMATINA Y DIOGENES TABORDA', 'Av. Castañares y Bonorino',
       'AU Frondizi 9 de Julio Sur y Av. Suarez',
       'Nazca Av. y Rivadavia Av.',
       'Figueroa Alcorta, Pres. Av. y Echeverria',
       'Rivadavia Av. y Jujuy Av.',
       'De Los Italianos Av. y Guemes, Macacha',
       'Tucuman y Alem, Leandro N. Av.',
       'Corrientes Av. y Gallardo, Angel Av.',
       'AU Perito Moreno y Av. Eva Perón SENTIDO CENTRO',
       'Muñecas y Serrano',
       'Artigas, Jose Gervasio, Gral. y Tres Arroyos',
       'Solis e Independencia Av.', 'Bosch, Ventura y Paz, Gral. Av.',
       'Paz, Gral. Av. 14800', 'Av. Eva Perón 5321',
       'Peron, Juan Domingo, Tte. General y Pueyrredon Av.',
       'Rabanal y San Pedrito', 'Monroe y Alvarez Thomas Av.',
       'Rivadavia Av. y Manzoni',
       'AU Dellepiane Luis Tte. Gral. y Larrazabal',
       'Paz, Gral. Av. y Peron, Eva Av.',
       'AU Perito Moreno y Reservistas Argentinos', 'Saenz Av. y Ventana',
       'Avda. General Paz y Cnel. Ramón Falcón',
       'Av. Gral. Paz y Av. de los Constituyentes',
       'Paz, Gral. Av. 11200', 'Newbery, Jorge Av. y Guevara',
       'Gaona Av. y Segurola Av.', 'Madero, Eduardo Av. 550',
       'AU Arturo Illia y Castillo, Ramon S.',
       'La Plata Av. y Caseros Av.', 'Belgrano Av. y Peru',
       'Rivadavia Av. 7013', 'Adolfo Alsina y Santiago del Estero',
       'Bermudez 1893', 'Santander 1974', 'Julieta Lanteri 1400',
       'Maza y Av. Independencia', 'PAZ, GRAL. AV. 5172',
       'Olivera Av. y Alberdi, Juan Bautista Av.',
       'CASTILLO, RAMON S., PRES. AV. Y CALLE 12',
       'CASTAÑARES AV. Y MORENO, PERITO AV.', 'SAN MARTIN AV. Y TERRADA',
       'PERON, EVA AV. Y MEDINA',
       'JUSTO, JUAN B. AV. Y ALVAREZ JONTE AV.',
       'OBLIGADO RAFAEL, AV. COSTANERA 4650', 'MITRE, BARTOLOME Y YATAY',
       'PAZ, GRAL. AV. 16080', 'CHACABUCO Y SAN JUAN AV.',
       'DEL LIBERTADOR AV. 4100',
       'PAZ, GRAL. AV. Y ALBERDI, JUAN BAUTISTA AV.',
       'CASTAÑARES AV. Y GORDILLO, TIMOTEO', 'SALVIGNY Y MOM',
       'LAMARCA, EMILIO 5402', 'SAN MARTIN AV. 5638',
       'CARRILLO, RAMON, DR. Y FINOCHIETTO ENRIQUE DR.',
       'MEXICO Y PICHINCHA', 'CANTILO, INT. Y UDAONDO, GUILLERMO AV.',
       'DEL LIBERTADOR AV. 6326', 'CHICLANA AV. 3444',
       'BOYACA AV. Y YERBAL',
       'ENTRE RIOS AV. BAJO PUENTE AUTOPISTA (1260 APROX)',
       'PAZ, GRAL. AV. Y JACQUES, AMADEO', 'ANTARTIDA ARGENTINA AV. 1325',
       'MITRE, BARTOLOME Y SANCHEZ DE BUSTAMANTE',
       'FERNANDEZ DE LA CRUZ, F. , GRAL. AV. Y LARRAZABAL',
       'SANTA FE AV. Y AZCUENAGA', 'JUSTO, JUAN B. AV. y OROÑO, NICASIO',
       'FERNANDEZ DE LA CRUZ, F. , GRAL. AV. Y LACARRA AV.',
       'ALVAREZ, DONATO, TTE. GRAL. Y YERBAL',
       'CORDOBA AV. Y MADERO, EDUARDO AV.',
       'CAMARONES Y ALVAREZ, DONATO, TTE. GRAL. AV.',
       'AUTOPISTA 25 DE MAYO Y HUERGO, ING. AV.',
       'MORENO, PERITO AV. 3050', 'SUIPACHA 665', 'RIGLOS Y FORMOSA',
       'LA RIOJA E INDEPENDENCIA AV.',
       'UDAONDO, GUILLERMO AV. Y FIGUEROA ALCORTA, PRES. AV.',
       'SAN PEDRITO AV. Y DIRECTORIO AV.', 'PUAN Y SANTANDER',
       'ALBERDI, JUAN BAUTISTA AV. Y ANDALGALA', 'LIMA Y CONSTITUCION',
       'BOEDO AV. 650', 'DEL LIBERTADOR AV. Y REPUBLICA DE LA INDIA',
       'GRAL PAZ Y CABILDO', 'CASEROS AV. 1700', 'AVELLANEDA AV. 1548',
       'CIUDAD DE LA PAZ Y MENDOZA', 'SALGUERO, JERONIMO Y HONDURAS AV.',
       'FILIBERTO, JUAN DE DIOS Y OLAVARRIA',
       'ASTURIAS AV. Y CASTAÑARES AV.', 'GANDARA 2976',
       'GUEVARA, TRINIDAD Y MADERO, EDUARDO AV.', 'BOYACA AV. 305',
       'ARTILLEROS Y LA PAMPA',
       'AUTOPISTA PERITO MORENO ALTURA PASO A NIVEL DE IRIGOYEN',
       '15 DE NOVIEMBRE DE 1889 Y SANTIAGO DEL ESTERO',
       'ACOSTA, MARIANO AV. Y FALCON, RAMON L., CNEL.',
       '11 DE SEPTIEMBRE DE 1888 Y MENDOZA',
       'PINO, VIRREY DEL Y CAMPOS, LUIS M. AV.', 'FOREST AV. Y MAURE',
       'BOYACA AV. Y AVELLANEDA AV,', 'BARCO CENTENERA DEL Y TILCARA',
       'RIESTRA AV. Y BOLIVAR', 'CASTRO, EMILIO 4706',
       '27 DE FEBRERO AV. 5600', 'GARAY, JUAN DE AV. 2874',
       'SCALABRINI ORTIZ, RAUL AV. y GORRITI',
       'PRIMERA JUNTA Y OLIVERA AV.', 'ALBERDI, JUAN BAUTISTA AV. Y AZUL',
       'ALVAREZ THOMAS AV. 1788',
       'LUGONES, LEOPOLDO AV. Y PAZ, GRAL. AV.', 'SAN ANTONIO Y LUJAN',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALTURA DON PEDRO DE MENDOZA AV.',
       'FIGUEROA ALCORTA, PRES. AV. Y TAGLE',
       'EINSTEIN, ALBERTO Y ALCORTA, AMANCIO AV.', 'AGRELO Y COLOMBRES',
       'CABILDO AV. y PAZ, GRAL. AV.', 'ELCANO AV. 4300',
       'RABANAL, FRANCISCO, INTENDENTE AV. 2428', 'MONTE Y CORVALAN',
       'TANDIL Y LA FUENTE', 'CARDOSO Y BACACAY', 'CORRIENTES AV. 6700',
       'ALVAREZ THOMAS AV. Y MENDOZA',
       'ALCORTA, AMANCIO AV. Y BONAVENA, OSCAR NATALIO',
       'BROWN, ALTE. AV. Y BLANES, JUAN MANUEL',
       'ALBERDI, JUAN BAUTISTA AV. 5455', 'JUSTO, JUAN B. AV. Y CAMARGO',
       'BRIN, MINISTRO Y SUAREZ', 'NIZA Y JUSTO, JUAN B. AV.',
       'CAMARGO Y SERRANO',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALTURA CASEROS AV.',
       'CASEROS AV. Y PIEDRAS', 'AUTOPISTA PERITO MORENO KM 5,6',
       'GUZMAN 365', 'de los constituyentes av. 4300',
       'MORENO, PERITO AV. Y TILCARA AV.', 'IBARROLA Y GORDILLO, TIMOTEO',
       'PAZ, GRAL. AV. Y GRIVEO', 'RIVADAVIA AV. Y PERGAMINO',
       'SANTO TOME Y SEGUROLA AV.', 'URIARTE Y LOYOLA',
       'SARAZA Y VARELA AV.', 'RIVADAVIA AV. Y COMBATE DE LOS POZOS',
       'RODRIGUEZ PEÑA Y RIVADAVIA AV.', '24 DE NOVIEMBRE Y SAN JUAN AV.',
       'LAFUENTE AV. 2250', 'CHILE Y LIMA ', 'CORDOBA AV. Y JEAN JAURES',
       'PERON, JUAN DOMINGO, TTE. GENERAL Y SALGUERO, JERONIMO',
       '9 DE JULIO AV. Y SAN JUAN AV.', 'COLOMBRES 466', 'MEXICO 2860',
       'COMBATIENTES DE MALVINAS AV. Y TRIUNVITARO AV.',
       'BERMUDEZ Y NOGOYA', 'BRASIL AV. Y PASEO COLON AV.',
       'ALEM,LEANDRO N. AV. 770', 'BELGRANO AV. Y RINCON',
       'UDAONDO, GUILLERMO AV. 901', 'CONSTITUCION Y CASTRO',
       'PUEYRREDON AV. Y GOMEZ, VALENTIN', 'BRAVO, MARIO 1279',
       'DELLEPIANE, LUIS, TTE. GRAL. Y ESCALADA AV.',
       'ARAOZ DE LAMADRID, GREGORIO, GRAL. Y BROWN, ALTE. AV.',
       'MURGUIONDO 1339', 'RIVADAVIA AV. 2551',
       'LUGONES, LEOPOLDO AV. KM 6,1',

Columna TipodeCalle

In [69]:
df_homicidios['TipoDeCalle'].value_counts()

TipoDeCalle
AVENIDA      429
CALLE        136
AUTOPISTA     66
GRAL PAZ      65
Name: count, dtype: int64

 Tenemos Autopista y también está GRAL PAZ, en este contexto este tipo de calle es una AUTOPISTA, por lo que se modificará para que se contabilicen tambiein con de AUTOPISTA

In [70]:
df_homicidios['TipoDeCalle'] = df_homicidios['TipoDeCalle'].replace('GRAL PAZ','AVENIDA')
df_homicidios['TipoDeCalle'].value_counts()

TipoDeCalle
AVENIDA      494
CALLE        136
AUTOPISTA     66
Name: count, dtype: int64

Columna Calle

In [71]:
df_homicidios['Calle'].unique()

array(['PIEDRA BUENA AV.', 'PAZ, GRAL. AV.', 'ENTRE RIOS AV.',
       'LARRAZABAL AV.', 'SAN JUAN AV.', '27 DE FEBRERO AV.', 'NOGOYA',
       'BELGRANO AV.', 'SCALABRINI ORTIZ, RAUL AV.',
       'REGIMIENTO DE PATRICIOS AV.', 'ACOSTA, MARIANO',
       'DE LA TORRE, LISANDRO', 'SUIPACHA', 'DIRECTORIO AV.',
       '9 DE JULIO AV.', 'HOLMBERG', 'CURAPALIGUE AV.', 'VIAMONTE',
       'CABILDO AV.', 'ALCORTA, AMANCIO AV.', 'CORRIENTES AV.', 'HERRERA',
       'LAFUENTE AV.', 'MITRE, BARTOLOME', 'DELLEPIANE, LUIS, TTE. GRAL.',
       'MORENO, JOSE MARIA AV.', 'LIMA',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI', 'GORDILLO, TIMOTEO',
       'LUGONES, LEOPOLDO AV.', 'TRIUNVIRATO AV.',
       'AUTOPISTA DELLEPIANE LUIS TTE. GRAL.',
       'CASTILLA, RAMON, MARISCAL', 'CAMPOS, LUIS M. AV.', 'CIUDADELA',
       'JUSTO, JUAN B. AV.', 'GAONA AV.', 'FIGUEROA ALCORTA, PRES. AV.',
       'MAGARI?OS CERVANTES, A.', 'SAN MARTIN AV.',
       'PERON, JUAN DOMINGO, TTE. GENERAL', 'DEL LIBERTADOR AV.',
       'LARRALDE, CRISOLOGO AV.', 'LA PLATA AV.',
       'ALBERDI, JUAN BAUTISTA AV.', 'PELLEGRINI, CARLOS',
       'RABANAL, FRANCISCO, INTENDENTE AV.', 'OLIVERA AV.', 'CERETTI',
       'SALGUERO, JERONIMO', 'MERCEDES', 'SOLIS', 'MOSCONI GENERAL AV.',
       'PERON, EVA AV.', 'ZINNY', 'LACROZE, FEDERICO AV.',
       'AUTOPISTA PERITO MORENO', 'LUGONES', 'AUTOPISTA 25 DE MAYO',
       'ARIAS', 'ASAMBLEA AV.', 'RIVADAVIA AV.', 'IRIGOYEN', 'CASTRO',
       'MIRAVE', 'LAS HERAS GENERAL AV.',
       'AUTOPISTA BUENOS AIRES - LA PLATA', 'JURAMENTO AV.',
       'BROWN, ALTE. AV.', 'PICHINCHA AV.', 'INDEPENDENCIA AV.',
       'GARMENDIA AV.', nan, 'MORENO, PERITO AV.', 'ARAOZ', 'MADERO',
       'SANTA FE AV.', 'GARCIA, MARTIN AV.', 'NU?EZ', 'HUERGO, ING. AV.',
       'GARAY, JUAN DE AV.', 'FALCON, RAMON L.,CNEL.', 'ARENALES',
       'REPUBLICA BOLIVARIANA DE VENEZUELA', 'OLAVARRIA',
       'CABRERA, JOSE A.', 'TRAFUL', 'IRIARTE, GRAL. AV.', 'DONADO',
       'CORDOBA AV.', 'SARMIENTO', 'FERNANDEZ DE LA CRUZ, F., GRAL. AV.',
       'CASEROS AV.', 'MOZART', '24 DE NOVIEMBRE', 'GODOY CRUZ',
       'ACHAVAL RODRIGUEZ, T., DR. AV.', 'CASTA?ARES AV.',
       'GUIRALDES, INT.', 'FERNANDEZ MORENO, BALDOMERO', 'ARGENTINA AV.',
       'VIEYTES', 'DE LOS CONSTITUYENTES AV.', 'BRASIL', 'ESCALADA AV.',
       'PARAGUAY', 'CHILE', 'MAIPU', 'SUAREZ AV.', 'NUEVA YORK', 'CASCO',
       'DE MAYO AV.', 'CASTILLO, RAMON S., PRES. AV.',
       'FRAY JUSTO SANTAMARIA DE ORO', 'MEXICO', 'TACUARI',
       'PASEO COLON AV.', 'LEGUIZAMON, MARTINIANO', 'CHIVILCOY AV.',
       'SUPERI', 'HUGO, VICTOR', 'BONIFACIO, JOSE', 'LAVALLE',
       'USPALLATA', 'ALVEAR AV.', 'PAVON AV.', 'ALBARI?O',
       'RAMIREZ DE VELASCO, JUAN', 'RIESTRA AV.', 'GALLO',
       'ARANGUREN, JUAN F., DR.', 'CHORROARIN', 'COSQUIN',
       'ROCA, CNEL. AV.', 'WARNES AV.', 'BARCO CENTENERA DEL',
       'TRELLES, MANUEL R.', 'MAZA', 'CACHI', 'ROSARIO', 'GUALEGUAYCHU',
       'NAZCA AV.', 'PERU', 'PUEYRREDON, HONORIO, DR. AV.', 'VALLE',
       'PILCOMAYO', 'CERVANTES', 'CALLAO AV.', 'OLIDEN', 'CONGRESO AV.',
       'AUSTRALIA AV.', 'SAN PEDRITO AV.', 'ISABEL LA CATOLICA',
       'AUTOPISTA PRESIDENTE HECTOR J. CAMPORA',
       'MONTES DE OCA, MANUEL AV.', 'ALVAREZ THOMAS AV.',
       'AVELLANEDA AV.', 'BILBAO, FRANCISCO AV.', 'PLAZA', 'CAMARONES',
       'FREIRE, RAMON, CAP. GRAL.', 'BRANDSEN', 'VILARDEBO, TEODORO',
       'ALBERTI', 'QUESADA', 'CALIFORNIA',
       'CARRIL, SALVADOR MARIA DEL AV.', 'SAN LUIS',
       'COMBATE DE LOS POZOS', 'ESTADOS UNIDOS', 'ALEM, LEANDRO N. AV.',
       'VARELA AV.', 'CARABOBO AV.', 'MORENO', 'CHAVEZ, JORGE',
       'URQUIZA, GRAL.', 'DE LOS CORRALES AV.', 'CASTANARES AV.',
       'LARRAZABAL', 'MOREAU DE JUSTO, ALICIA AV.',
       '15 DE NOVIEMBRE DE 1889', 'LACARRA AV.',
       'AUTOPISTA PRESIDENTE H?CTOR J. C?MPORA',
       'RAWSON DE DELLEPIANE, ELVIRA AV.', 'FAMATINA',
       'DE LOS ITALIANOS AV.', 'TUCUMAN', 'MU?ECAS',
       'ARTIGAS, JOSE GERVASIO, GRAL.', 'BOSCH, VENTURA', 'MONROE',
       'SAENZ AV.', 'NEWBERY, JORGE AV.', 'MADERO, EDUARDO AV.',
       'AUTOPISTA ARTURO ILLIA', 'ALSINA, ADOLFO', 'BERMUDEZ',
       'SANTANDER', 'LANTERI JULIETA', 'OBLIGADO RAFAEL, AV.COSTANERA',
       'CHACABUCO', 'SALVIGNY', 'LAMARCA, EMILIO', 'CARRILLO, RAMON, DR.',
       'CANTILO, INT.', 'CHICLANA AV.', 'BOYACA AV.',
       'ANTARTIDA ARGENTINA AV.', 'ALVAREZ, DONATO, TTE. GRAL.', 'RIGLOS',
       'LA RIOJA', 'UDAONDO, GUILLERMO AV.', 'PUAN', 'BOEDO AV.',
       'CIUDAD DE LA PAZ', 'FILIBERTO, JUAN DE DIOS', 'ASTURIAS AV.',
       'GANDARA', 'GUEVARA, TRINIDAD', 'ARTILLEROS',
       'ACOSTA, MARIANO AV.', '11 DE SEPTIEMBRE DE 1888',
       'PINO, VIRREY DEL', 'FOREST AV.', 'CASTRO, EMILIO',
       'PRIMERA JUNTA', 'SAN ANTONIO', 'EINSTEIN, ALBERTO', 'AGRELO',
       'ELCANO AV.', 'MONTE', 'TANDIL', 'CARDOSO', 'BRIN, MINISTRO',
       'NIZA', 'CAMARGO', 'GUZMAN', 'IBARROLA', 'SANTO TOME', 'URIARTE',
       'SARAZA', 'RODRIGUEZ PE?A', 'COLOMBRES',
       'COMBATIENTES DE MALVINAS AV.', 'BRASIL AV.', 'CONSTITUCION',
       'PUEYRREDON AV.', 'BRAVO, MARIO',
       'ARAOZ DE LAMADRID, GREGORIO, GRAL.', 'MURGUIONDO',
       'GARZON, EUGENIO, GRAL. AV.', 'CURAPALIGUE', 'DIAZ, ANA',
       'DORREGO AV.', 'INCLAN', 'OLAZABAL AV.', 'HOMERO', 'JUJUY AV.',
       'BOGOTA', 'ALVAREZ JONTE AV.', 'CASTRO, EMILIO AV.', 'PAYSANDU',
       'SALTA', 'JAURES, JEAN', 'POTOSI', 'YRIGOYEN, HIPOLITO',
       'COREA AV.', 'FINOCHIETTO ENRIQUE DR.', 'JANER, ANA MARIA',
       'VEDIA, AGUSTIN DE', 'CAPDEVILA', 'TABARE', 'CORRALES',
       'LOPE DE VEGA AV.', 'BEIRO, FRANCISCO AV.',
       'CHILAVERT, MARTINIANO, CORONEL', 'TAPALQUE', 'ESMERALDA',
       'BAIGORRIA', 'PADRE CARLOS MUJICA'], dtype=object)

Columna Cruce

In [72]:
df_homicidios['Cruce'].unique()

array(['FERNANDEZ DE LA CRUZ, F., GRAL. AV.', 'DE LOS CORRALES AV.', nan,
       'VILLEGAS, CONRADO, GRAL.', 'SAENZ PE?A, LUIS, PRES.',
       'ESCALADA AV.', 'GONZALEZ, JOAQUIN V.', 'IRIGOYEN, BERNARDO DE',
       'VERA', 'QUINQUELA MARTIN, BENITO', 'JANER, ANA MARIA',
       'GARCIA GRANDE DE ZEQUEIRA, SEVERO', 'CURAPALIGUE',
       'ALSINA, ADOLFO', '27 DE FEBRERO AV.', 'VEDIA', 'DIAZ, AVELINO',
       '9 DE JULIO AV.', 'DEHEZA', 'ROCA, CNEL. AV.',
       'BONAVENA, OSCAR NATALIO', 'CALLAO AV.', 'VALLE, ARISTOBULO DEL',
       'QUIRNO', 'ZUVIRIA', 'PUEYRREDON AV.', 'RIVERA INDARTE AV.',
       'MURGUIONDO', 'BALBASTRO', 'DEL LIBERTADOR AV.', 'DORREGO AV.',
       'OLAZABAL AV.', 'PAZ, GRAL. AV.', 'FIGUEROA ALCORTA, PRES. AV.',
       'LIMA', 'CARRASCO AV.', 'ESPINOSA', 'SARAZA', 'FILIBERTO',
       'SCAPINO, RODOLFO', 'MIRALLA', 'CAMARONES', 'ALEM, LEANDRO N. AV.',
       'JUJUY AV.', 'UDAONDO, GUILLERMO AV.', 'RIVADAVIA AV.', 'MACHAIN',
       'PUAN', 'TUCUMAN', 'EREZCANO', 'FALCON, RAMON L.,CNEL.', 'NU?EZ',
       'LA PAMPA', 'MITRE, EMILIO', 'MOSCONI GENERAL AV.', 'MEXICO',
       'ALBERTI', 'DONADO', 'CHAVEZ, JORGE', 'SUAREZ, JOSE LEON',
       'SANTIAGO DE COMPOSTELA AV.', 'FRAGA', 'BARRAGAN', 'CARHUE',
       'AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI', 'GUARDIA NACIONAL',
       'TRONADOR', 'TAGLE', 'TRIUNVIRATO AV.',
       'BONORINO, ESTEBAN, CNEL. AV.', 'ALBERDI, JUAN BAUTISTA AV.',
       'TINOGASTA', 'PAVON AV.', '24 DE NOVIEMBRE',
       'SANCHEZ DE BUSTAMANTE', '2 DE ABRIL DE 1982', 'PINEDO, INT.',
       'LADINES', 'BLANCO ENCALADA', 'VUELTA DE OBLIGADO',
       'RAMOS MEJIA, JOSE MARIA, DR. AV.', 'BRASIL', 'CEVALLOS, VIRREY',
       'TABORDA, DIOGENES', 'CORDOBA AV.', 'DEAN FUNES', 'GODOY CRUZ',
       'FOREST AV.', 'POMAR, GREGORIO TTE. CNEL.',
       'BALBIN, RICARDO, DR. AV.', 'AUTOPISTA 25 DE MAYO', 'CASTRO',
       'SAN PEDRITO AV.', 'MEMBRILLAR', 'PASEO COLON AV.', 'SAAVEDRA',
       'ACHUPALLAS', 'VELEZ SARSFIELD AV.', 'BONPLAND', 'RIGLOS', 'ARIAS',
       'PARAGUAY', 'LIBERTAD', 'FOURNIER', 'FRAGATA PRES. SARMIENTO',
       'TANDIL', 'AUTOPISTA DELLEPIANE LUIS TTE. GRAL.', 'PAVON',
       'LOS CEDROS', 'GUTIERREZ, RICARDO', 'VILLAFLOR, AZUCENA',
       'CAMPANA', 'LAUTARO', 'CORVALAN', 'VARELA AV.',
       'GOLETA SANTA CRUZ', 'VILLARINO', 'MORAN, PEDRO', 'SAN BLAS',
       'PERON, JUAN DOMINGO, TTE. GENERAL', 'HERRERA',
       'MORENO, JOSE MARIA AV.', 'SCHMIDL, ULRICO', 'VALLEJOS', 'ECUADOR',
       'CALLE 12 (NO OFICIAL)', 'RODRIGUEZ PE?A', 'GARCIA, MARTIN AV.',
       'BRASIL AV.', 'PUENTE DISTRIBUIDOR SCALABRINI ORTIZ',
       'SALGUERO, JERONIMO', 'ZAPATA', 'ZAVALETA', 'ESTADOS UNIDOS',
       'GUEMES', 'JARAMILLO', 'PORTELA', 'PIROVANO', 'MAIPU',
       'TREINTA Y TRES ORIENTALES', 'CRUZ, OSVALDO AV.', 'ARGENTINA AV.',
       'LARRAYA', 'CA?ADA DE GOMEZ', 'SAN MARTIN AV.', 'PUNTA ARENAS',
       'RABANAL, FRANCISCO, INTENDENTE AV.', 'SAN NICOLAS',
       'PERON, EVA AV.', 'GOYENA, PEDRO AV.', 'DIAZ, CESAR, GRAL.',
       'DON BOSCO', 'LA RIOJA', 'LUJAN', 'TRAFUL', 'LA PLATA AV.',
       'CASEROS AV.', 'HUMAITA', 'RINCON', 'GALICIA', 'MANZANARES',
       'BARCO CENTENERA DEL', 'INDEPENDENCIA AV.', 'BROWN, ALTE. AV.',
       'BELAUSTEGUI, LUIS, DR.', 'LOPEZ, VICENTE',
       'CHILAVERT, MARTINIANO, CORONEL', 'GALVAN', 'SALVADORES, CNEL.',
       'OLAVARRIA', 'ROSARIO', 'BOYACA AV.', 'SAENZ AV.', 'RONDEAU',
       'AZUL', 'GAONA AV.', 'ALVAREZ THOMAS AV.',
       'ARTIGAS, JOSE GERVASIO, GRAL.', 'AGUILAR', 'LOPE DE VEGA AV.',
       'ARGERICH', 'URIBURU JOSE E., PRES.', 'OLAGUER Y FELIU, VIRREY',
       'PERDRIEL', 'ALVAREZ JONTE AV.', 'PEDERNERA', 'JURAMENTO AV.',
       'CARBONARI, FRANCISCO, CMTE.', 'NAZCA', 'AGUERO', 'HUMBERTO 1?',
       'THAMES', 'SANCHEZ DE LORIA', 'PICHINCHA', 'VIAMONTE',
       'PRIMERA JUNTA', 'JUNCAL', 'LACROZE, FEDERICO AV.',
       'FINOCHIETTO ENRIQUE DR.', 'URQUIZA, GRAL.', 'HUERGO, ING. AV.',
       'ORTIZ DE OCAMPO', 'GARZON, EUGENIO, GRAL. AV.', 'COCHABAMBA',
       'GARAY, JUAN DE AV.', 'COLOMBRES', 'PERGAMINO', 'GASCON', 'BERUTI',
       'DELLEPIANE, LUIS, TTE. GRAL.', 'BERON DE ASTRADA', 'ZAPIOLA',
       'SUAREZ AV.', 'ECHEVERRIA', 'GUEMES, MACACHA',
       'GALLARDO, ANGEL AV.', 'SERRANO', 'TRES ARROYOS', 'SAN PEDRITO',
       'MANZONI', 'LARRAZABAL', 'VENTANA', 'DE LOS CONSTITUYENTES AV.',
       'GUEVARA', 'SEGUROLA AV.', 'CASTILLO, RAMON S., PRES. AV.', 'PERU',
       'SANTIAGO DEL ESTERO', 'MORENO, PERITO AV.', 'TERRADA', 'MEDINA',
       'YATAY', 'SAN JUAN AV.', 'GORDILLO, TIMOTEO', 'MOM', 'YERBAL',
       'JACQUES, AMADEO', 'AZCUENAGA', 'ORO?O, NICASIO',
       'MADERO, EDUARDO AV.', 'ALVAREZ, DONATO, TTE. GRAL. AV.',
       'FORMOSA', 'DIRECTORIO AV.', 'SANTANDER', 'ANDALGALA',
       'CONSTITUCION', 'REPUBLICA DE LA INDIA', 'CABILDO AV.', 'MENDOZA',
       'HONDURAS AV.', 'CASTA?ARES AV.', 'CAMPOS, LUIS M. AV.', 'MAURE',
       'AVELLANEDA AV.', 'TILCARA', 'BOLIVAR (NO OFICIAL)', 'GORRITI',
       'OLIVERA AV.', 'ALCORTA, AMANCIO AV.', 'LAFUENTE', 'BACACAY',
       'BLANES, JUAN MANUEL', 'CAMARGO', 'SUAREZ', 'JUSTO, JUAN B. AV.',
       'PIEDRAS', 'TILCARA AV.', 'GRIVEO', 'LOYOLA',
       'COMBATE DE LOS POZOS', 'JAURES, JEAN', 'NOGOYA',
       'GOMEZ, VALENTIN', 'MONTIEL', 'WARNES AV.', 'ROFFO, ANGEL H., DR.',
       'ANCHORENA, TOMAS MANUEL DE, DR.', 'DIAZ, CNEL. AV.',
       'SOLDADO DE LA FRONTERA AV.', 'CARRANZA, ADOLFO P.', 'LACARRA AV.',
       'MERCEDES', 'EINSTEIN, ALBERTO', 'VIALE, LUIS', 'ALTA GRACIA',
       'GOYENECHE, ROBERTO PARQUE AV.', 'BEAZLEY', 'AUSTRIA',
       'LAS HERAS, GENERAL', 'CALVO, CARLOS', 'NAZCA AV.', 'CHIVILCOY',
       'GUARANI', 'SARMIENTO AV.', 'GIRIBONE', 'GUAMINI',
       'DE LA TORRE, LISANDRO', 'LARRALDE, CRISOLOGO AV.',
       'ROOSEVELT FRANKLIN D.', 'PIEDRA BUENA AV.',
       'TORRES Y TENORIO, PRES.', 'GUIRALDES, INT.', 'LAFUENTE AV.',
       'SANTA FE AV.', 'CASARES AV.', 'PILAR', 'ACOSTA, MARIANO',
       'GUZMAN AV.', 'CONGRESO AV.', 'EREZCANO AV.', 'TONELERO',
       'AGOTE, LUIS DR.', 'OLAZABAL', 'BRUIX AV.', 'EZEIZA',
       '3 DE FEBRERO', 'LAVALLE', 'HUGO, VICTOR'], dtype=object)

Se observan varios nulos, pero en este punto no se modificarán, sino en el EDA.

Columna comuna, no se observa problemas

In [73]:
df_homicidios['Comuna'].unique()

array([ 8,  9,  1, 11, 15,  4,  7, 12,  3, 13, 14, 10,  6,  2,  5,  0],
      dtype=int64)

Columna X coordenada

In [74]:
df_homicidios['PosX'].value_counts()

PosX
.               12
-58.44451316     5
-58.50073810     4
-58.46743471     4
-58.50877521     4
                ..
-58.39100580     1
-58.37697717     1
-58.45807401     1
-58.42023854     1
-58.37976155     1
Name: count, Length: 605, dtype: int64

In [75]:
df_homicidios['PosY'].value_counts()

PosY
.               12
-34.68475866     5
-34.54979510     4
-34.53476874     4
-34.66977709     4
                ..
-34.58498660     1
-34.59573848     1
-34.63997430     1
-34.64234110     1
-34.58679619     1
Name: count, Length: 605, dtype: int64

Se observan 12 puntos sin información, por lo que  buscaremos complementarlos con los puntos de geolocalización plana para rellenar los datos faltantes

In [76]:
df_homicidios['XYplana'] = df_homicidios['XYplana'].str.replace('Point ','')
df_homicidios['XYplana'].value_counts()

XYplana
(. .)                                14
(101721.59002217 93844.25656649)      5
(96563.66494817 108815.73881056)      4
(99620.34936816 110483.29286598)      4
(95832.05571093 95505.41641999)       4
                                     ..
(106632.70892338 104910.17381357)     1
(107918.77617420 103716.42961253)     1
(100479.14412395 98812.52258620)      1
(103948.02389064 98549.15451723)      1
(107664.16647795 104708.63962087)     1
Name: count, Length: 606, dtype: int64

In [77]:
df_homicidios[df_homicidios['XYplana'] == '(. .)']

,idSiniestro,NumVictimas,Anio,Mes,Dia,H,LugarHecho,TipoDeCalle,Calle,Altura,Cruce,DireccionNormalizada,Comuna,XYplana,PosX,PosY,Participantes,Victima,Acusado,DiaSemana
35,2016-0049,1,2016,Abril,17,0,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,(. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD,Domingo
38,2016-0052,1,2016,Abril,20,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,(. .),.,.,MOTO-SD,MOTO,SD,Miércoles
71,2016-0096,1,2016,Julio,25,7,"AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3",AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,8,(. .),-58.47433193007387,-34.66684950051973,MOTO-CARGAS,MOTO,CARGAS,Lunes
106,2016-0136,1,2016,Octubre,25,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Martes
119,2016-0151,1,2016,Noviembre,18,20,SD,CALLE,NaN,NaN,NaN,NaN,0,(. .),.,.,PEATON-SD,PEATON,SD,Viernes
139,2016-0174,1,2016,Diciembre,27,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO,0,(. .),.,.,SD-SD,SD,SD,Martes
176,2017-0042,1,2017,Abril,10,9,AV. LEOPOLDO LUGONES PKM 6900,AVENIDA,"LUGONES, LEOPOLDO AV.",NaN,NaN,"LUGONES, LEOPOLDO AV.",14,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes
180,2017-0050,2,2017,Abril,28,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Viernes
181,2017-0051,1,2017,Mayo,1,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,(. .),.,.,AUTO-AUTO,AUTO,AUTO,Lunes
256,2017-0140,1,2017,Noviembre,19,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,(. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS,Domingo
313,2018-0039,1,2018,Abril,21,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,PEATON-AUTO,PEATON,AUTO,Sábado
546,2020-0026,1,2020,Mayo,17,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,Domingo
559,2020-0039,1,2020,Septiembre,1,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,NaN,MURGUIONDO,9,(. .),.,.,PEATON-CARGAS,PEATON,CARGAS,Martes
621,2021-0023,1,2021,Marzo,1,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes

In [78]:
df_homicidios[df_homicidios['PosX'] == '.']

,idSiniestro,NumVictimas,Anio,Mes,Dia,H,LugarHecho,TipoDeCalle,Calle,Altura,Cruce,DireccionNormalizada,Comuna,XYplana,PosX,PosY,Participantes,Victima,Acusado,DiaSemana
38,2016-0052,1,2016,Abril,20,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,(. .),.,.,MOTO-SD,MOTO,SD,Miércoles
106,2016-0136,1,2016,Octubre,25,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Martes
119,2016-0151,1,2016,Noviembre,18,20,SD,CALLE,NaN,NaN,NaN,NaN,0,(. .),.,.,PEATON-SD,PEATON,SD,Viernes
139,2016-0174,1,2016,Diciembre,27,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO,0,(. .),.,.,SD-SD,SD,SD,Martes
176,2017-0042,1,2017,Abril,10,9,AV. LEOPOLDO LUGONES PKM 6900,AVENIDA,"LUGONES, LEOPOLDO AV.",NaN,NaN,"LUGONES, LEOPOLDO AV.",14,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes
180,2017-0050,2,2017,Abril,28,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Viernes
181,2017-0051,1,2017,Mayo,1,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,(. .),.,.,AUTO-AUTO,AUTO,AUTO,Lunes
256,2017-0140,1,2017,Noviembre,19,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,(. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS,Domingo
313,2018-0039,1,2018,Abril,21,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,PEATON-AUTO,PEATON,AUTO,Sábado
546,2020-0026,1,2020,Mayo,17,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,Domingo
559,2020-0039,1,2020,Septiembre,1,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,NaN,MURGUIONDO,9,(. .),.,.,PEATON-CARGAS,PEATON,CARGAS,Martes
621,2021-0023,1,2021,Marzo,1,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes

In [79]:
df_homicidios[df_homicidios['PosY'] == '.']

,idSiniestro,NumVictimas,Anio,Mes,Dia,H,LugarHecho,TipoDeCalle,Calle,Altura,Cruce,DireccionNormalizada,Comuna,XYplana,PosX,PosY,Participantes,Victima,Acusado,DiaSemana
38,2016-0052,1,2016,Abril,20,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,(. .),.,.,MOTO-SD,MOTO,SD,Miércoles
106,2016-0136,1,2016,Octubre,25,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Martes
119,2016-0151,1,2016,Noviembre,18,20,SD,CALLE,NaN,NaN,NaN,NaN,0,(. .),.,.,PEATON-SD,PEATON,SD,Viernes
139,2016-0174,1,2016,Diciembre,27,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO,0,(. .),.,.,SD-SD,SD,SD,Martes
176,2017-0042,1,2017,Abril,10,9,AV. LEOPOLDO LUGONES PKM 6900,AVENIDA,"LUGONES, LEOPOLDO AV.",NaN,NaN,"LUGONES, LEOPOLDO AV.",14,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes
180,2017-0050,2,2017,Abril,28,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Viernes
181,2017-0051,1,2017,Mayo,1,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,(. .),.,.,AUTO-AUTO,AUTO,AUTO,Lunes
256,2017-0140,1,2017,Noviembre,19,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,(. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS,Domingo
313,2018-0039,1,2018,Abril,21,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,PEATON-AUTO,PEATON,AUTO,Sábado
546,2020-0026,1,2020,Mayo,17,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,(. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO,Domingo
559,2020-0039,1,2020,Septiembre,1,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,NaN,MURGUIONDO,9,(. .),.,.,PEATON-CARGAS,PEATON,CARGAS,Martes
621,2021-0023,1,2021,Marzo,1,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,(. .),.,.,MOTO-CARGAS,MOTO,CARGAS,Lunes

Se observa que los valores vacíos de las coordenadas X y Y son los mismos que de los de XYplana, e incluso están más completos, por lo que eliminaremos la columna XYplana

In [80]:
df_homicidios = df_homicidios.drop('XYplana', axis = 1)                     # Eliminamos la columna

Continuamos revisando las demás columnas

In [81]:
df_homicidios['Participantes'].value_counts()

Participantes
PEATON-PASAJEROS       105
MOTO-AUTO               83
MOTO-CARGAS             78
PEATON-AUTO             77
MOTO-PASAJEROS          46
MOTO-OBJETO FIJO        40
PEATON-CARGAS           38
AUTO-AUTO               31
PEATON-MOTO             30
MOTO-MOTO               25
AUTO-OBJETO FIJO        22
MULTIPLE                17
AUTO-CARGAS             14
BICICLETA-CARGAS        10
AUTO-PASAJEROS           9
MOTO-SD                  9
BICICLETA-PASAJEROS      8
BICICLETA-AUTO           8
SD-SD                    5
PEATON-BICICLETA         5
AUTO-SD                  4
CARGAS-CARGAS            4
PEATON-SD                4
PASAJEROS-PASAJEROS      3
MOTO-OTRO                2
MOTO-BICICLETA           2
SD-AUTO                  2
MOTO-MOVIL               2
CARGAS-OBJETO FIJO       1
CARGAS-AUTO              1
MOVIL-PASAJEROS          1
SD-CARGAS                1
SD-MOTO                  1
MOVIL-CARGAS             1
PASAJEROS-AUTO           1
AUTO-MOVIL               1
CARGAS-PASAJEROS         1
BICICLETA-TREN           1
BICICLETA-OTRO           1
PEATON_MOTO-MOTO         1
PASAJEROS-SD             1
Name: count, dtype: int64

Columna Victima

In [82]:
df_homicidios['Victima'].value_counts()

Victima
MOTO           295
PEATON         264
AUTO            83
BICICLETA       29
SD               9
CARGAS           7
PASAJEROS        5
MOVIL            2
OBJETO FIJO      1
PEATON_MOTO      1
Name: count, dtype: int64

Hay un registro mal escrito (PEATON_MOTO), lo modificamos manualmente (la columna victima y participante)

In [83]:
mask  = (df_homicidios['Victima'] == 'PEATON_MOTO')
df_homicidios[mask]
df_homicidios['Victima'].loc[583] = 'PEATON'
df_homicidios['Participantes'].loc[583] = 'PEATON-MOTO'

In [84]:
df_homicidios.loc[583]

idSiniestro                            2020-0063
NumVictimas                                    2
Anio                                        2020
Mes                                    Diciembre
Dia                                            5
H                                              7
LugarHecho              NUEVA YORK Y ALTA GRACIA
TipoDeCalle                                CALLE
Calle                                 NUEVA YORK
Altura                                       NaN
Cruce                                ALTA GRACIA
DireccionNormalizada    NUEVA YORK y ALTA GRACIA
Comuna                                        11
PosX                                -58.52783814
PosY                                -34.61047001
Participantes                        PEATON-MOTO
Victima                                   PEATON
Acusado                                     MOTO
DiaSemana                                 Sábado
Name: 583, dtype: object

Columna Acusado

In [85]:
df_homicidios['Acusado'].value_counts()

Acusado
AUTO           204
PASAJEROS      173
CARGAS         146
OBJETO FIJO     62
MOTO            57
SD              23
MULTIPLE        17
BICICLETA        7
OTRO             6
TREN             1
Name: count, dtype: int64

#### Aquí continúa la transformación del Marco de Datos de Víctimas

In [86]:
df_victimas.describe()

                               Fecha         Anio         Mes         Dia
count                            717   717.000000  717.000000  717.000000
mean   2018-09-09 01:36:24.100418304  2018.174338    6.688982   15.960948
min              2016-01-01 00:00:00  2016.000000    1.000000    1.000000
25%              2017-04-01 00:00:00  2017.000000    4.000000    9.000000
50%              2018-07-07 00:00:00  2018.000000    7.000000   16.000000
75%              2019-12-18 00:00:00  2019.000000   10.000000   23.000000
max              2021-12-30 00:00:00  2021.000000   12.000000   31.000000
std                              NaN     1.672655    3.575140    8.683358

Se puede ver que los resultados de la media de año, mes y día son similares a los del dataframe de homicidios, porque esta información es la misma que en el dataframe de homicidios, pero aquí también tenemos información sobre las personas implicadas en el accidente. También se puede observar que, por término medio, son más los hombres que mueren en accidentes de tráfico que las mujeres.

Se revisa la cantidad de nulos

In [87]:
nulos = t.PorcentajeNulos(df_victimas)
nulos

,Data_Types,%_Null,Qty_Null,Qty_No_Null,Total_Registros
idSiniestro,object,0.0,0,717,717
Fecha,datetime64[ns],0.0,0,717,717
Anio,int64,0.0,0,717,717
Mes,int64,0.0,0,717,717
Dia,int64,0.0,0,717,717
Rol,object,0.0,0,717,717
Victima,object,0.0,0,717,717
Sexo,object,0.0,0,717,717
Edad,object,0.0,0,717,717
FechaFallecimiento,object,0.0,0,717,717

Pareciera que no hay nulos en el dataframe, sin embargo seguiremos analizando porque es posible que no haya nulos pero sí registros sin valores.

In [88]:
t.DataType(df_victimas)

                        TipoDeDato
idSiniestro                 object
Fecha               datetime64[ns]
Anio                         int64
Mes                          int64
Dia                          int64
Rol                         object
Victima                     object
Sexo                        object
Edad                        object
FechaFallecimiento          object

Se observa el tipo de datos de cada columna, también que hay 716 registros y hay 10 columnas.  A partir de aquí buscaremos typos o palabras duplicadas. También hay columnas cuyo tipo de datos no se corresponde con la información que deberían contener, por lo que comprobaremos su contenido una a una y cambiaremos el tipo de datos si es necesario.

Columna idSiniestro

In [89]:
df_victimas['idSiniestro'].value_counts()

idSiniestro
2017-0035    3
2017-0050    2
2016-0041    2
2018-0015    2
2020-0063    2
            ..
2017-0115    1
2017-0116    1
2017-0118    1
2017-0120    1
2021-0096    1
Name: count, Length: 696, dtype: int64

Aquí puedes ver varios duplicados, pero está bien, ya que podría haber varias víctimas por un solo accidente..

Columna Victima

In [90]:
df_victimas['Victima'].value_counts()

Victima
MOTO         303
PEATON       267
AUTO          94
BICICLETA     29
SD             9
CARGAS         7
PASAJEROS      5
MOVIL          3
Name: count, dtype: int64

Columna Rol

In [91]:
df_victimas['Rol'].value_counts()

Rol
CONDUCTOR               330
PEATON                  267
PASAJERO_ACOMPAÑANTE     80
CICLISTA                 29
SD                       11
Name: count, dtype: int64

Column Sexo

In [92]:
df_victimas['Sexo'].value_counts()

Sexo
MASCULINO    545
FEMENINO     166
SD             6
Name: count, dtype: int64

Columna Victima

In [93]:
df_victimas['Victima'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL'], dtype=object)

Column Edad

In [94]:
df_victimas['Edad'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54, 'SD', 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40,
       87, 76, 75, 35, 80, 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39,
       28, 7, 48, 4, 82, 32, 17, 47, 61, 10, 95, 73, 84, 66, 85, 1, 15,
       13, 77, 44, 31, 62, 74, 71, 11, 86, 69, 72, 12, 63, 92, 68, 91, 64,
       5, 88], dtype=object)

Columna FechaFallecimiento

In [95]:
df_victimas['FechaFallecimiento'].value_counts()

FechaFallecimiento
SD                     68
2017-02-26 00:00:00     3
2017-01-16 00:00:00     3
2020-12-25 00:00:00     3
2019-12-18 00:00:00     3
                       ..
2018-01-19 00:00:00     1
2018-01-18 00:00:00     1
2018-01-14 00:00:00     1
2018-01-12 00:00:00     1
2022-01-02 00:00:00     1
Name: count, Length: 563, dtype: int64

Si nos fijamos en la columna Fecha de fallecimiento, vemos que hay 68 registros sin información.

#### Unimos ambos dataframes en uno nuevo

Compruebe que la información idSiniestro es la misma en ambos dataframes.

In [96]:
df_homicidios[df_homicidios['idSiniestro'] == '2017-0113']

,idSiniestro,NumVictimas,Anio,Mes,Dia,H,LugarHecho,TipoDeCalle,Calle,Altura,Cruce,DireccionNormalizada,Comuna,PosX,PosY,Participantes,Victima,Acusado,DiaSemana
235,2017-0113,1,2017,Septiembre,11,6,AV. SANTA FE Y MAIPU,AVENIDA,SANTA FE AV.,NaN,MAIPU,SANTA FE AV. y MAIPU,1,-58.37697717,-34.59573848,PEATON-PASAJEROS,PEATON,PASAJEROS,Lunes

In [97]:
df_victimas[df_victimas['idSiniestro'] == '2017-0113']

,idSiniestro,Fecha,Anio,Mes,Dia,Rol,Victima,Sexo,Edad,FechaFallecimiento
244,2017-0113,2017-09-11,2017,9,11,PEATON,PEATON,FEMENINO,76,2017-09-11 00:00:00

Ya que se validó, se unen ambos.

In [98]:
df_accidentes = pd.merge(df_homicidios,df_victimas[['idSiniestro','Rol','Sexo','Edad','FechaFallecimiento']], on = 'idSiniestro', how = 'inner')
df_accidentes

,idSiniestro,NumVictimas,Anio,Mes,Dia,H,LugarHecho,TipoDeCalle,Calle,Altura,...,PosX,PosY,Participantes,Victima,Acusado,DiaSemana,Rol,Sexo,Edad,FechaFallecimiento
0,2016-0001,1,2016,Enero,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,...,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,Viernes,CONDUCTOR,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016,Enero,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,AVENIDA,"PAZ, GRAL. AV.",NaN,...,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,Sábado,CONDUCTOR,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016,Enero,3,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,...,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,Domingo,CONDUCTOR,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016,Enero,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,...,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,Domingo,CONDUCTOR,MASCULINO,18,SD
4,2016-0005,1,2016,Enero,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,...,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,Jueves,CONDUCTOR,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0093,1,2021,Diciembre,13,17,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,NaN,...,-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO,Lunes,PASAJERO_ACOMPAÑANTE,FEMENINO,18,2021-12-18 00:00:00
713,2021-0094,1,2021,Diciembre,20,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",NaN,...,-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO,Lunes,PASAJERO_ACOMPAÑANTE,FEMENINO,43,2021-12-20 00:00:00
714,2021-0095,1,2021,Diciembre,30,0,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,NaN,...,-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS,Jueves,CONDUCTOR,MASCULINO,27,2022-01-02 00:00:00
715,2021-0096,1,2021,Diciembre,15,10,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.",4071.0,...,-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS,Miércoles,CONDUCTOR,MASCULINO,60,2021-12-20 00:00:00
716,2021-0097,1,2021,Noviembre,18,6,PADRE CARLOS MUJICA 709,CALLE,PADRE CARLOS MUJICA,709.0,...,-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO,Jueves,CICLISTA,MASCULINO,53,2021-11-19 00:00:00

#### Cargamos el nuevo dataframe en un nuevo archivo csv.

In [99]:
df_accidentes.to_csv('data/df_accidentes.csv', index = False, encoding='utf-8')

Este es el final de este archivo, porfavor de click [aqui](01b_ETL_items.ipynb) para continuar con el proyecto.